streamlit
numpy==1.26.1
pandas
mysql-connector-python
python-dotenv
textblob
plotly
wordcloud
matplotlib
praw
requests
beautifulsoup4
spacy
openai
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
