streamlit
numpy==1.26.1
pandas
mysql-connector-python
python-dotenv
textblob
plotly
wordcloud
matplotlib
praw
requests
beautifulsoup4
spacy
en-core-web-sm==3.5.0  # Replace 3.5.0 with the required version
openai
